[submodule "Storyline"]
	path = Storyline
	url = https://github.com/Total-RP/Storyline
[submodule "SlackUI"]
	path = SlackUI
	url = https://github.com/Slackwise/SlackUI
[submodule "Ace3"]
	path = Ace3
	url = https://github.com/WoWUIDev/Ace3
[submodule "AzerPUGsDragonRider"]
	path = AzerPUGsDragonRider
	url = https://github.com/AzerPUG/DragonRiding
[submodule "GreenWall"]
	path = GreenWall
	url = https://github.com/AIE-Guild/GreenWall
[submodule "Details-Damage-Meter"]
	path = Details
	url = https://github.com/Tercioo/Details-Damage-Meter
[submodule "BigWigs"]
	path = BigWigs
	url = https://github.com/BigWigsMods/BigWigs
[submodule "LittleWigs"]
	path = LittleWigs
	url = https://github.com/BigWigsMods/LittleWigs
